.info-btn button{
    background-color: rgb(0, 173, 0);
    color: white;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* .facilty{
    display: flex;
    margin: 30px;
    gap: 5%;
    margin-top: 80px;
    margin-bottom: 50px;
}
.info-btn{
    width: 30%;
}
.facilty-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
} */

.box{
    height: 150px;
    width: 165px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

.box a{
    color: rgb(0, 173, 0);
    font-size: 40px;
    margin-bottom: 0px;
}
.box p{
    margin-top: 0px;
}